.film-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.page-banner {
    margin-bottom: 30px;
}

h1.film-title {
    font-size: 26px;
}

.iframe-youtobe iframe {
    width: 100% !important;
    height: 60vh;
}

.page-film-list {
    padding-top: 25px;
    padding-bottom: 50px;
}

.p-f-title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 25px;
    margin-top: 0;
}

.order-body {
    min-height: 350px;
    padding: 20px;
    font-size: 16px;
}

.current-time {
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
    font-size: 18px;
}

.expan {
    float: right;
}

.rap-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    cursor: pointer;
}

.day-filter {
    cursor: pointer;
}

.showtime-item {
    width: 100px;
    padding: 10px 0;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #d8d8d8;
    display: inline-block;
    cursor: pointer;
}

.showtime-item:hover {
    background-color: #337ab7;
    color: #fff;
}

.showtime-item:hover a {
    color: #fff;
}

.showtime-item+.showtime-item {
    margin-left: 15px;
}

.danhsachghe {
    margin-top: 15px;
    margin-bottom: 15px;
}

.danhsachghe .item {

    width: 75px;
    padding: 10px 0;
    margin: 5px 1px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #d8d8d8;
    display: inline-block;
    cursor: pointer;

}

.danhsachghe .item.lock {
    background: red !important;
    color: #fff;
}

.danhsachghe .item:hover {
    background-color: #337ab7;
    color: #fff;
}

.danhsachghe .item.active {
    background: green !important;
    color: #fff;
}

.chuthich {
    font-size: 16px;
}

.chuthich .item.lock {
    width: 75px;
    padding: 10px 0;
    margin: 5px 1px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #d8d8d8;
    display: inline-block;
    cursor: pointer;
    background: red !important;
    color: #fff;
}

.order-box {
    padding: 20px 20px;
    border: 1px solid #d8d8d8;
    max-width: 300px;
}

.order-option-item {
    margin-bottom: 20px;
}

.order-option-item .img {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 20px;
}

.order-option-item .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.order-option-item .content {
    width: calc(100% - 120px);
    float: left;
}

.order-option-item .content h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.order-option-item .content .des {
    margin-bottom: 5px;
}

.order-option-item .content .price {
    font-weight: 600;
    margin-bottom: 10px;
}

.option-list .item {
    margin-bottom: 10px;
}

.option-list img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    float: left;
}

.option-list .content {
    float: left;
}

.option-list .content h4 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 13px;
}

.option-list .content .price {
    margin-bottom: 5px;
}

.option-list .content input {
    max-width: 80px;
    display: inline-block;
    margin-right: 10px;
    outline: none;
}

.option-list .content .delete {
    font-weight: 600;
    color: red;
    cursor: pointer;
}

.order-note {
    padding: 5px;
    width: 100%;
    outline: none;
}