.film-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.page-banner {
    margin-bottom: 30px;
}

h1.film-title {
    font-size: 26px;
}

.iframe-youtobe iframe{
    width: 100% !important;
    height: 60vh;
}